.main_box {
    width: 40%;
    margin: auto;
    padding: 20px;
    min-height: 750px;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 1px black;
    background: #E0E7E9;
}

/* Mobile css */
.main_mobile {
    padding: 10px;
    min-height: 635px;
}